           #sem-1{
               display: none;
           }
           #sem-2{
               display: none;
           }
           #sem-5{
                display: none; 
           }
           #sem-6{
               display: none;
           }
           .panel-heading{
              font-size: 20px;
           }
           h4{
            font-size: 18px;
            text-decoration: underline;
           }
